
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}
.max-w{
    max-width: 1240px;
    margin: auto;
}

.active-btn {
    /* transform: scale(1);
    transition: transform 0.3s ease; */
    transform: scale(0.9);
    transition: transform 0.3s ease; /* Adjust timing and easing as needed */
}


/* banner btn  */


@keyframes zoom {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .zoom-btn {
    
   
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: zoom 2s infinite;
    
  }


  /* btn hover  */
 

  .btn-p{

    position: relative;
    transition: all 0.3s linear;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 40px;
    background-color: #ea062b;
    color: white;
    border-radius: 2px;
  }
  .btn-p:hover{

    color: white;
  }
  .btn-p:active{
    transform: scale(0.9);
    transition: transform 0.3s ease;
   
  }

  .btn-p::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 50px;
    transform: translateX(-100%);
    transition: all 0.3s linear;
    z-index: -1;
  }
  .btn-p:hover:before{
    transform: translateX(0);
    color: white;
  }

 


  .swiper-button-prev, .swiper-button-next {
    bottom: 5% !important;
    top: auto !important;
    color: #ea062b !important;
}


/* modal */
.btn-text-color{
color: black;
}

.active{
background-color: rgba(0, 0, 0, 0.261);

}

.active-tab {
  border: 2px solid red;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.1); /* Optional: Adds a background color */
}

.Mui-selected {
  color: #fafcff;
}

.blood-card {
  transition: transform 0.3s ease-in-out;
}

.blood-card:hover {
  transform: scale(1.05);
}



table.rtr-table tbody tr:hover td{
 font-weight: 300 !important;
 color: black !important;
 background-color: rgba(100, 96, 96, 0.244) !important;
}


/* navbar button animated style  */
.bg-slide-animation {
  background: linear-gradient(to right, transparent 50%, #2d3748 30%);
  background-size: 200% 100%;
  transition: background-position 0.8s ease-in-out;
}

.nav-link.is-active {
  background-position: -100% 0%; /* Left to right animation */
  color: white;
}



tbody .open td {
  min-height: 65px !important;
  background-color: none !important;
  padding-top:25px !important;
}


table.rtr-table tbody td:before {

  top: 9px !important;
}